body {
    background-color: navy;
    font-family: "Courier New", monospace;
}

.inner-word {
    text-align: center;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#fix-text{
    font-size: 1rem;
    top: 60%;
}

.hide {
    font-size: 1rem !important;
    top: 70% !important;
}
